.bump-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  width: 100%;
  font-weight: 700;
}

.bump-buttons .button-big {
  display: flex;
  justify-content: center;
}

.bump-buttons .bump-buttons-small {
  display: flex;
  justify-content: center;
}
