.header-wrap {
  position: relative;
  text-align: center;
}

.cover-photo-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.profile-picture-header {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  z-index: 2;
  width: 160px;
  height: 160px;
}

.profile-picture-header .profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.settings-icon {
  position: absolute;
  bottom: 10px;
  right: -50%;
  width: 20%;
  height: auto;
  cursor: pointer;
}

.bump-button {
  position: absolute;
  bottom: 10px;
  right: -50%;
}

@media (max-width: 600px) {
  .cover-photo-header img {
    height: 150px;
  }

  .profile-picture-header .profile-img {
    width: 120px;
    height: 120px;
  }
}
