/* makes all elements the size we assign it even with padding*/
* {
  box-sizing: border-box;
}

/* app fills the screen */
html,
body,
#root {
  height: 100%;
}

/* remove browser’s default margin */
body {
  margin: 0;
}

/* smoother text */
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
